.Navbar {
  display: flex;
  background-color: rgb(23, 23, 23, 0.5);
  padding: 0px 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 40px;
  width: 40rem;
  height: 3.5rem;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(92, 92, 92, 0.5);
}

.divider {
  width: 1px;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.child,
.child a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 5rem;
  height: 2rem;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: 100;
  text-decoration: none;
  transition: background-color 200ms ease;
  border-radius: 30px;
}

.child:hover {
  background-color: rgba(70, 70, 70, 0.5);
  cursor: pointer;
}

.logo {
  display: flex;
  margin-right: 10px;
}
